<nav>
  <ul class="navbar">
    <li class="navbar-item">
      <a href="#home" class="<%= currentPath === '/' ? 'active' : '' %>">Home</a>
    </li>
    <li class="navbar-item">
      <a href="#about" class="<%= currentPath === '/about' ? 'active' : '' %>">About</a>
    </li>
    <li class="navbar-item">
      <a href="#fashion" class="<%= currentPath === '/fashion' ? 'active' : '' %>">Fashion</a>
    </li>
    <li class="navbar-item">
      <a href="#shop" class="<%= currentPath === '/shop' ? 'active' : '' %>">Shop</a>
    </li>
    <li class="navbar-item">
      <a href="#contact" class="<%= currentPath === '/contact' ? 'active' : '' %>">Contact</a>
    </li>
  </ul>
</nav>