<aside class="sidebar">
    <button class="nav-button <%= currentPath === '/shop/cart' ? 'active' : '' %>" onclick="window.location.href='/shop/cart'"><i class="fa fa-shopping-cart"></i> <span class="cart-quantity">6</span><span class="cart-text">Cart</span></button>
    <button class="nav-button <%= currentPath === '/shop/formal' ? 'active' : '' %>" onclick="window.location.href='/shop/formal'"><i class="fas fa-tags"></i>Formal</button>
    <button class="nav-button <%= currentPath === '/shop/streetwear' ? 'active' : '' %>" onclick="window.location.href='/shop/streetwear'"><i class="fas fa-tags"></i>Streetwear</button>
    <button class="nav-button <%= currentPath === '/shop/glamorous' ? 'active' : '' %>" onclick="window.location.href='/shop/glamorous'"><i class="fas fa-tags"></i>Glamorous</button>
    <button class="nav-button <%= currentPath === '/shop/conquette' ? 'active' : '' %>" onclick="window.location.href='/shop/conquette'"><i class="fas fa-tags"></i>Coquette</button>
</aside>