<%- include('partials/appTop') %>
    <%- include('partials/header') %>
    <%- include('partials/appNavbar', {title: 'Formal'}) %>

    <div class="container">
        <%- include('partials/sidebar') %>

        <main class="cart-page">
            <div class="cart-items" style="margin-top: 125px;">
              <!-- Repeat for each item -->
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
              <div class="cart-item">
                <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                <div class="cart-details">
                  <h3>Item Name</h3>
                  <p>Description about to the item.</p>
                  <span class="price">$20</span>
                </div>
                <div class="cart-right">
                  <span class="tag">Formal</span>
                  <button class="remove-btn primary">Remove</button>
                </div>
              </div>
            </div>
        
            <div class="cart-summary" style="font-size: 20px;">
              <p><strong>Subtotal: <span style="font-size: 18px;">$80</span></strong></p>
              <p><strong>Shipping: <span style="font-size: 18px;">$10</span></strong></p>
              <p><strong style="font-size: 25px;">Total: <span style="font-size: 25px;">$90</span></strong></p>
              <button class="checkout-btn primary">Checkout</button>
            </div>
          </main>
    </div>

<%- include('partials/appBottom') %>