<%- include('partials/appTop') %>
    <%- include('partials/header') %>
    <%- include('partials/appNavbar', {title: 'Cart'}) %>

    <div class="container">
        <%- include('partials/sidebar') %>

        <main class="cart-page">
            <div class="cart-items" style="margin-top: 125px;">
              <% cart.forEach((item) => { %>
                <div class="cart-item" id="<%= item.cart_id %>">
                  <img src="<%= item.image_url %>" alt="Item <%= item.id %>">
                  <div class="cart-details">
                    <h3><%= item.name %></h3>
                    <p><%= item.description %></p>
                    <span class="price">$<%= item.price %></span>
                  </div>
                  <div class="cart-right">
                    <span class="tag"><%= item.category %></span>
                    <form action="/remove/from/cart/<%= item.cart_id %>" method="post">
                      <button class="remove-btn primary">Remove</button>
                    </form>
                  </div>
                </div>
              <% }) %>
            </div>

            <div class="cart-summary" style="font-size: 20px;">
              <p><strong>Subtotal: <span style="font-size: 18px;">$<%= subtotal %></span></strong></p>
              <p><strong>Shipping: <span style="font-size: 18px;">$<%= shipping %></span></strong></p>
              <p><strong style="font-size: 25px;">Total: <span style="font-size: 25px;">$<%= total %></span></strong></p>
              <input class="checkout-btn primary" value="Checkout" type="submit" form="checkout_form">
              <form action="/checkout" method="post" id="checkout_form" style="display: none;">
              </form>
            </div>
          </main>

    </div>

<%- include('partials/appBottom') %>