<%- include ('partials/indexTop') %>
    <%- include ('partials/header') %>
    <%- include ('partials/indexNavbar') %>

  <div class="shared-bg">

    <div style="padding: 50px;"></div>

    <section class="hero-section" id="home">
      <div class="hero-text">
        <h1>The<br>Style<br>Diaries</h1>
      </div>
      <div class="hero-info">
        <h2>Fashion Collection</h2>
        <p>This collection is a reflection of bold individuality and modern elegance, blending timeless silhouettes with contemporary details. Inspired by Lifestyle & Pop Culture, each piece tells a story of confidence, creativity, and style.</p>
        <p>Let me know your collection’s theme or vibe (Formal, Streetwear, Glamorous, Coquette etc.), and I can make it more specific and unique to you!</p>
        <a href="#fashion" class="cta-btn">Get Started</a>
      </div>
    </section>

    <section class="style-meets" id="about">
      <h2>Where Style Meets You!</h2>
      <p>We’re all about helping you look and feel your best with trendy, affordable, and timeless fashion. From everyday essentials to standout statement pieces, our shop offers styles for every mood and moment.</p>
      <p>We want this corner of the internet to feel safe and non-judgmental. We want to be a resource, not a textbook. We want our site to be filled with approachable ideas, good conversations, and entertaining articles supported by well styled, and well shot photos that empower you to make your own home reflect YOU.</p>
      <p>The only thing we love more than design and style is our avidly engaged audience. And we’re honored that you’re spending your time here with us.</p>
    </section>
  </div>

  <div style="padding: 50px;"></div>

    <!-- Fashion -->
    <section id="fashion" class="fashion-container" id="fashion">
      <h2 style="text-align: center; font-size: xx-large; margin-bottom: 30px; margin-top: 40px;">Fashions</h2>
      <div class="fashion-cards">
          <% fashions.forEach((fashion) => { %>
              <img src="<%= fashion.image_url %>" alt="Fashion Image" key="<%= fashion.id %>">
          <% }) %>
      </div>
      <form action="/fashions" class="see-more-form">
        <input type="submit" value="See More..." class="see-more-button">
      </form>
    </section>

    <!-- Shop -->
    <section id="shop">
        <h2 style="text-align: center; font-size: xx-large; margin-bottom: 30px; margin-top: 40px;">Shop</h2>
        <div class="shop-cards">
          <div class="shop-card" onclick="window.location.href='/shop/Formal'">
            <img src="https://i.pinimg.com/236x/85/d7/5c/85d75c3dde0c013602f868407dd38754.jpg" alt="Formal">
            <div class="overlay-text">Formal</div>
          </div>
          <div class="shop-card" onclick="window.location.href='/shop/Streetwear'">
            <img src="https://images.pexels.com/photos/29849761/pexels-photo-29849761/free-photo-of-urban-fashion-couple-posing-outdoors.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Streetwear">
            <div class="overlay-text">Streetwear</div>
          </div>
          <div class="shop-card"  onclick="window.location.href='/shop/Glamorous'">
            <img src="https://media.femalemag.com.sg/source/2016/06/KL_07-750x1124.jpg" alt="Glamorous">
            <div class="overlay-text">Glamorous</div>
          </div>
          <div class="shop-card"  onclick="window.location.href='/shop/Coquette'">
            <img src="https://i.pinimg.com/736x/7d/7e/09/7d7e09e8989615af38369e59a13b63a5.jpg" alt="Coquette">
            <div class="overlay-text">Coquette</div>
          </div>
        </div>
    </section>

    <div style="padding: 50px;"></div>

  <section class="contact-section" id="contact">
    <h2>Contact Us</h2>
    <div class="contact-info">
      <p><i class="fa fa-phone"></i> 1821-173-769</p>
      <p><i class="fa fa-envelope"></i> thestylediaries@gmail.com</p>
      <p><i class="fa fa-facebook"></i> Style Diaries Official</p>
    </div>
    <p class="copyright">Copyright© 2025, the style diaries</p>
  </section>

<%- include ('partials/indexBottom') %>
