<%- include('partials/appTop') %>
    <%- include('partials/header') %>
    <%- include('partials/appNavbar', {title: category}) %>

    <div class="container">
        <%- include('partials/sidebar') %>
      
        <main class="main-scrollable">
            <div class="products" style="margin-top: 125px;">
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/10/MS/UW/PU/161562894/fashion-garments-1000x1000.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://down-ph.img.susercontent.com/file/sg-11134201-22100-uqhnhcd6g8iv7a" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
                <div class="product-card">
                    <img src="https://d1fufvy4xao6k9.cloudfront.net/images/blog/posts/2022/11/278a6678v2.jpg" alt="Item">
                    <h3>Item Name</h3>
                    <p>Description about the item.</p>
                    <button class="primary">Add to cart</button>
                </div>
            </div>
        </main>
    </div>

<%- include('partials/appBottom') %>