<%- include('partials/appTop') %>
    <%- include('partials/header') %>
    <%- include('partials/appNavbar', {title: category}) %>

    <div class="container">
        <%- include('partials/sidebar') %>
      
        <main class="main-scrollable">
            <div class="products" style="margin-top: 125px;">
                <% products.forEach((product) => { %>
                    <div class="product-card" id="<%= product.id %>">
                        <img src="<%= product.image_url %>" alt="Item <%= product.id %>">
                        <h3><%= product.name %></h3>
                        <p><%= product.description %></p>
                        <form action="/add/to/cart/<%= user.id %>/<%= category %>/<%= product.id %>" method="post">
                            <input type="submit" class="primary" value="Add to Cart">
                        </form>
                    </div>
                <% }) %>
            </div>
        </main>
    </div>

<%- include('partials/appBottom') %>